.navbar{
    margin: 30px;
    padding: 10px;
}

.home{
    margin-left: 20%;
    font-size: 16px;
    font-family: 'Poppins';
}

.about{
    margin-left: 2%;
    font-size: 16px;
    font-family: 'Poppins';
}

.destination{
    margin-left: 2%;
    font-size: 16px;
    font-family: 'Poppins';
}

.tour{
    margin-left: 2%;
    font-size: 16px;
    font-family: 'Poppins';
}

.blog{
    margin-left: 2%;
    font-size: 16px;
    font-family: 'Poppins';
}

.login{
    margin-left: 15%;
    font-size: 16px;
    font-family: 'Poppins';
    color: #FD8D3A;
    font-weight: bold;
}

.signup{
    margin-left: 2%;
    font-size: 16px;
    font-family: 'Poppins';
    background-color: #FA7436;
    color: white;
    border-radius: 7%;
    padding: 10px 10px;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: 600px;
    
}

.imageright{
    float: right;
    width: 785px;
    height: 585px;
}

.contents{
    font-family: 'volkhov';
    font-size: 64px;
    font-weight: bold;
    padding-top: 10%;
}

.part1{
    margin-left: 2%;
    background-color: #FEFCFB;
    
}

.para{
    font-size: 20px;
    color: gray;
    line-height: 1.8;
}

.enhance{
    color: #FA7436;
}

.discover{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 500px;
    cursor: pointer;
    color: #FA7436;
    background-color: white;
    border: 2px solid #FA7436;
    border-radius: 5px;
}

.one{
    margin-left: 20%;
    
}

.two{
    margin-left: 10%;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500; 
    color: #222222; 
    cursor: pointer;
}

.three{
    margin-left: 10%;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500; 
    color: #222222; 
    cursor: pointer;
}

.explore{
    margin-left: 10%;
}

.five{
    margin-left: 20%;
    color: gray;
    font-size: 12px;
    font-family: 'Poppins';
    
}

.six{
    margin-left: 4%;
    color: gray;
    font-size: 12px;
    font-family: 'Poppins';
}

.seven{
    margin-left: 4%;
    color: gray;
    font-size: 12px;
    font-family: 'Poppins';
}

.four{
    background-color: #FEFCFB;
}

.explore{
    font-size: 18px;
    font-family: 'Poppins';
    background-color: #FA7436;
    color: white;
    border-radius: 5%;
    padding: 10px 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: 500px;
}

.part2{
    padding: 15px;
    background-color: #FFFFFF;
    border: 2px solid #E0E0E0; 
    border-radius: 8px;         
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 75%;
    float: right;
}

.font{
    color: #FA7436;
}

.fon{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500; 
    color: #222222; 
    cursor: pointer;  
}

.element{
    float: right;
    width: 1920;
    height: 724;
}

.highlight{
    color: #FA7436;
}

.eight{
    text-align: center;
    margin-left: 250px;
}

.nine{
    font-size: 18px;
    color: gray;
    line-height: 1.8;
    text-align: center;
    margin-left: 250px;
}

.sign {
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    padding: 30px;
    width: 280px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    position: relative;
    cursor: pointer;
    
}

.box{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.money{
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    padding: 30px;
    width: 280px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    position: relative;
    cursor: pointer;
}

.eleven{
    color: gray;
}

.exciting{
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    padding: 30px;
    width: 280px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    position: relative;
    cursor: pointer;
}

.fourteen{
    font-size: 24px;
    font-family: 'Poppins';
    font-weight: 600; 
}

.high{
    color: #FA7436;
}

.fifteen{
    text-align: center;
    font-weight: bold;
    font-family: 'volkhov';
    font-size: 48px;
}

.sixteen{
    font-size: 18px;
    color: gray;
    line-height: 1.8;
    text-align: center;
}

.card{
    margin-left: 5%;
    cursor: pointer;
}

.slide{
    margin-left: 45%;
    cursor: pointer;
}

.slider{
    margin-left: 80%;
}

.hotels{
    display: flex;
    margin-top: 2%;
}

.card1 {
  width: 370px;
  height: 447px;
  object-fit: contain;
  margin-left: 40%;
  cursor: pointer;
}

.card2 {
  width: 370px;
  height: 447px;
  object-fit: contain;
  margin-left: 28%;
  cursor: pointer;
}

.card3 {
  width: 470px;
  height: 300px;
  object-fit: contain;
  padding-top: 50px;
  cursor: pointer;
}

.whatimg{
     float: right;
     width: 168.56;
     height: 188.06px;
     object-fit: contain;
}

.client{
    margin-left: 5%;
    width: 541px;
    height: 279px;
    object-fit: contain;
}

.what{
    display: flex;
    background-color: #F5F9FF;
    padding: 4%;
}



.whats{
    margin-right: 60%;
    margin-left: 10%;
    margin-top: 0px;
    padding-top: 0px;
}

.twentyone{
    font-size: 18px;
    color: gray;
    line-height: 1.8;
    text-align: left;
    margin-top: 0%;
    padding-top: 0%;
}

.cards1{
    margin: 2%;
    margin-left: 4%;
    cursor: pointer;
}

.cards2{
    margin: 2%;
    cursor: pointer;
}

.cards3{
    margin: 2%;
    cursor: pointer;
}

.cards4{
    margin: 2%;
    cursor: pointer;
}

.subscribe{
    width: 1170px;
    height: 416px;
    background-color: #FA7436;
    margin-left: 6%;
    border-radius: 20px;
}

.twentytwo{
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'volkhov';
    font-size: 48px;
    padding-top: 10%;
}

.mail{
    margin-left: 20%;
    padding: 20px;
    padding-left: 200px;
    padding-right: 200px;
    border-radius: 20px;

}

.subs{
    font-size: 16px;
    font-family: 'Poppins';
    background-color: white;
    color: #FA7436;
    border-radius: 7%;
    padding: 10px 10px;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
}

.end{
    margin-left: 6rem;
}

.book{
    font-size: 18px;
    color: gray;
    line-height: 1.8;
    text-align: left;

}

.books{
    font-size: 18px;
    font-family: 'Poppins';
}

.abt{
    margin-left: 42%;
    font-size: 18px;
    font-family: 'Poppins';
    color: gray;
    cursor: pointer;
}

.hlp{
    margin-left: 17%;
    font-size: 18px;
    font-family: 'Poppins';
    color: gray;
    cursor: pointer;
}

.press{
    margin-left: 12%;
    font-size: 18px;
    font-family: 'Poppins';
    color: gray;
    cursor: pointer;
}

.pre{
    margin-left: 16%;
    font-size: 18px;
    font-family: 'Poppins';
    color: gray;
    cursor: pointer;
}

.blogs{
    margin-left: 15%;
    font-size: 18px;
    font-family: 'Poppins';
    color: gray;
    cursor: pointer;
}

.aff{
    margin-left: 16%;
    font-size: 18px;
    font-family: 'Poppins';
    color: gray;
    cursor: pointer;
}

.low{
    margin-left: 13%;
    font-size: 18px;
    font-family: 'Poppins';
    color: gray;
    cursor: pointer;
}

.terms{
    margin-left: 60%;
    font-size: 16px;
    font-family: 'Poppins';
    color: gray;
    cursor: pointer;
}

.copy{
    margin-left: 2%;
    font-size: 16px;
    font-family: 'Poppins';
    color: gray;
}

.social{
    cursor: pointer;
}

.bottom {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    gap: 10%;
    background-color: #F7F8FC;
    padding: 2%;
}

.lists {
    color: gray;
    display: flex;
    flex-direction: column;
    line-height: 5px;
}


body {
    max-width: 100%;
    overflow-x: hidden;
}

.part3 {
    background-color: #F5F9FF;
    margin-top: 8rem;
    padding: 16px;
}


@media (max-width: 1024px) {
    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .home, .about, .destination, .tour, .blog, .login, .signup {
        margin-left: 0;
    }

    .imageright {
        width: 100%;
        height: auto;
        float: none;
        display: block;
        margin: 20px auto;
    }

    .contents {
        font-size: 48px;
        text-align: center;
        padding-top: 5%;
    }

    .para {
        font-size: 18px;
        text-align: center;
    }

    .one, .five, .six, .seven, .eight {
        margin-left: 5%;
    }

    .box {
        flex-direction: column;
        align-items: center;
    }

    .sign, .money, .exciting {
        width: 80%;
        margin-bottom: 20px;
    }

    .card {
        width: 90%;
        height: auto;
        margin-left: 5%;
    }

    .slide {
        margin-left: 40%;
    }

    .slider {
        margin-left: 70%;
    }

    .hotels {
        flex-direction: column;
        align-items: center;
    }

    .card1, .card2, .card3 {
        margin-left: 0;
        width: 90%;
        height: auto;
    }

    .what {
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }

    .client {
        width: 80%;
        height: auto;
    }

    .whatimg {
        float: none;
        width: 100px;
        height: auto;
    }

    .whats {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .subscribe {
        width: 90%;
        height: auto;
        padding: 20px;
        margin: 20px auto;
    }

    .mail {
        width: 80%;
        padding: 15px;
        margin: 10px auto;
        display: block;
    }

    .subs {
        display: block;
        margin: 10px auto;
    }

    .end {
        margin: auto;
    }

    .comp, .cont, .more {
        margin-left: 0;
    }

    .books {
        text-align: center;
    }

    .abt, .hlp, .press, .pre, .blogs, .aff, .low {
        display: block;
        margin: 10px auto;
    }

    .terms {
        margin-left: 0;
        display: block;
        text-align: center;
    }

    .nine {
        font-size: 18px;
        color: gray;
        line-height: 1.8;
        text-align: center;
        margin-left: 0px;
    }

    .twentyone {
        font-size: 18px;
        color: gray;
        line-height: 1.8;
        text-align: left;
        margin-top: 0%;
        padding-top: 0%;
        margin-left: 10rem;
    }

    .part2 {
    padding: 15px;
    background-color: #FFFFFF;
    border: 2px solid #E0E0E0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 16px;
    margin-right: 16px;
}
}


@media (max-width: 600px) {
    .contents {
        font-size: 36px;
    }

    .para {
        font-size: 16px;
    }

    .fifteen {
        font-size: 32px;
    }

    .sixteen {
        font-size: 16px;
    }

    .twentytwo {
        font-size: 32px;
        padding-top: 5%;
    }

    .mail {
        padding: 12px;
    }

    .eight {
         text-align: center;
    }

    .element {
        margin-left: 85px;
        margin-right: 10px;
        margin-top: 20px;
        float: none;
    }

    .nine {
        font-size: 18px;
        color: gray;
        line-height: 1.8;
        text-align: center;
        margin-left: 0px;
    }

    .twentyone {
        font-size: 18px;
        color: gray;
        line-height: 1.8;
        margin-top: 0%;
        padding-top: 0%;
        text-align: center;
    }

    .cards1 {
        margin: 2%;
        margin-left: 4rem;
        cursor: pointer;
        margin-right: 24px;
    }

    .cards2 {
        margin: 2%;
        margin-left: 4rem;
        cursor: pointer;
        margin-right: 24px;
    }

    .cards3 {
        margin: 2%;
        margin-left: 4rem;
        cursor: pointer;
        margin-right: 24px;
    }

    .cards4 {
        margin: 2%;
        margin-left: 4rem;
        cursor: pointer;
        margin-right: 24px;
    }

    .twenty {
        margin-left: 0%;
    }

    .fifteen {
        text-align: center;
        font-weight: bold;
        font-family: 'volkhov';
        font-size: 48px;
        margin-left: 10px; 
    }

    .element1 {
        margin-left: 200px;
    }

    .navbar {
        display: grid;
        justify-content: center;
        gap: 10px;
        text-align: center;
    }

    .discoverNav {
        display: none;
    }

    .bottom{
        display: flex;
        flex-direction: column;
    }

    .end {
        margin: auto;
    }


}
